<div class="container">

  <div class="show-consultations-profile d-flex flex-row mt-4">
    <img class="ms-2 me-4" src="<%= @consultation.patient.profile_pic%>" alt="">
    <div class="d-flex flex-column">
      <h1>
        <%= @consultation.patient.first_name %>
        <%= @consultation.patient.last_name %>
      </h1>
    <div class="d-flex">
      <p class="me-4">
        <span class="badge <%= @consultation.patient.gender == 'female' ? "bg-primary" : "bg-secondary" %>">
          <%= @consultation.patient.gender %>
        </span>
      </p>
      <p class="text-black-50">
        <%= @consultation.patient.birth_date.strftime('%d, %B %Y') %>
      </p>
    </div>

    </div>
  </div>

  <div class="d-grid mt-4 mb-4">
    <%= link_to @google_maps_link, class: "btn btn-primary" do %>
    <p> Se rendre chez <%= @consultation.patient.first_name %></p>
    <% end %>
  </div>

  <div class="accordion mt-4">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <strong>Anamnèse</strong>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <% if @consultation.patient.anamneses.present? %>

        <% @consultation.patient.anamneses.each do |anamnesis| %>
          <div class="accordion-body">
            <div class="d-flex">
              <% if anamnesis.date.present? %>
              <p class="me-4">
                <strong>
                    <%= anamnesis.date.strftime('%Y') %>
                </strong>
              </p>
              <% end %>
              <p>
              <%= anamnesis.description %>
              </p>
            </div>
          </div>

        <% end %>
      <% end %>
      </div>
    </div>
  </div>

  <div class="cheklist container d-flex flex-column" data-controller='checklist' data-checklist-consultation-value="<%= @consultation.id%>" >
    <h4 class="mt-4 mb-4" data-checklist-target='validated_cares'>Soins à effectuer</h4>
    <% @consultation.patient.patient_cares.each do |patient_care| %>
      <div class="input-group mb-3 flex-fill">
        <div class="input-group-text flex-fill">
          <input data-action="click->checklist#checklist"
          data-checklist-target="checkbox" <%= patient_care.checked? ? 'checked' : '' %>
          data-validated='<%= @consultation.validated_care_id(patient_care.care) if patient_care.checked? %>'
          class="form-check-input mt-0"
          type="checkbox"
          value="<%= patient_care.care.id %>">
          <p class="mb-0 ms-3"><%= patient_care.care.description %></p>
          <p class="mb-0 ms-3"><%= patient_care.care.name %></p>
        </div>
      </div>
    <% end %>
  </div>


  <div class="d-flex justify-content-center mt-4 mb-4">
    <%= button_to "Valider les soins",
    consultation_path(@consultation),
    class: "btn btn-primary",
    params: {consultation: {validated: true}},
    method: :put %>
  </div>
</div>
