<div class="container">

  <div class="show-consultations-profile d-flex flex-row mt-4 align-items-center">
    <%= image_tag @consultation.patient.picture_url, alt: "Photo de patient", class: "ms-2 me-4" %>
    <div class="d-flex flex-column">
      <h1>
        <%= @consultation.patient.first_name %>
        <%= @consultation.patient.last_name %>
      </h1>
    <div class="d-flex flex-column">
      <p class="text-primary mb-2">
        <i class="fa-solid me-2 fa-cake-candles"></i>
        <%= @consultation.patient.birth_date.strftime("%d/%m/%Y") %>
      </p>
      <p class="me-4">
        <span class="badge <%= @consultation.patient.gender == 'female' ? "bg-primary" : "bg-secondary" %>">
          <%= @consultation.patient.gender== 'male' ? "homme" : "femme"%>
        </span>
      </p>
    </div>
    </div>
  </div>

  <div class="d-grid mt-4 mb-4">
    <%= link_to @google_maps_link, class: "btn btn-primary" do %>
    <i class="fa-solid fa-car me-3"></i>
      Se rendre chez <%= @consultation.patient.first_name %>
    <% end %>
  </div>

  <div class="accordion mt-4">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <strong>Anamnèse</strong>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <% if @consultation.patient.anamneses.present? %>
        <div class="accordion-body">
          <% @consultation.patient.anamneses.each do |anamnesis| %>
            <div class="d-flex">
              <% if anamnesis.date.present? %>
              <p class="me-4">
                <strong>
                    <%= anamnesis.date.strftime('%Y') %>
                </strong>
              </p>
              <% end %>
              <p>
              <%= anamnesis.description %>
              </p>
            </div>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>

  <div class="cheklist d-flex container flex-column">
    <h5 class="mt-4 mb-4 fw-bold">Soins à effectuer</h5>
    <% @validated_cares.each_with_index do |validated_care, i| %>
      <%= form_with model: validated_care, method: :put,
      html: {"data-controller":"checklist"},
      class: validated_care.done ? "input-group-text flex-fill mb-3 p-3 validated-checklist" : "input-group-text flex-fill mb-3 p-3 not-validated-checklist" do |form| %>
        <%= form.check_box "checkbox#{i}",
        checked: validated_care.done,
        "data-checklist-target": "checkbox",
        "data-action": "click->checklist#checklist",
        class: "form-check-input mt-0"
        %>
        <%= form.label "checkbox#{i}", validated_care.care.name, class: "ms-4 label-checkbox" %>
      <% end %>
    <% end %>
  </div>

  <div class="container">
  </div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

  <div class="d-flex justify-content-center mt-4 mb-4 button-consultation">

    <%= button_to "Valider les soins",
    consultation_path(@consultation),
    class: "btn btn-primary",
    params: {consultation: {validated: true}},
    method: :put %>
  </div>
</div>
