<div class="container">

  <div class="show-consultations-profile d-flex flex-row mt-4">
    <img class="ms-2 me-4" src="<%= @consultation.patient.picture_url%>" alt="">
    <div class="d-flex flex-column">
      <h1>
        <%= @consultation.patient.first_name %>
        <%= @consultation.patient.last_name %>
      </h1>
    <div class="d-flex">
      <p class="me-4">
        <span class="badge <%= @consultation.patient.gender == 'female' ? "bg-primary" : "bg-secondary" %>">
          <%= @consultation.patient.gender %>
        </span>
      </p>
      <p class="text-black-50">
        <%= @consultation.patient.birth_date.strftime("%d/%m/%Y") %>
      </p>
    </div>
    </div>
  </div>

  <div class="d-grid mt-4 mb-4">
    <%= link_to @google_maps_link, class: "btn btn-primary" do %>
      Se rendre chez <%= @consultation.patient.first_name %>
    <% end %>
  </div>

  <div class="accordion mt-4">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <strong>Anamnèse</strong>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <% if @consultation.patient.anamneses.present? %>
        <div class="accordion-body">
          <% @consultation.patient.anamneses.each do |anamnesis| %>
            <div class="d-flex">
              <% if anamnesis.date.present? %>
              <p class="me-4">
                <strong>
                    <%= anamnesis.date.strftime('%Y') %>
                </strong>
              </p>
              <% end %>
              <p>
              <%= anamnesis.description %>
              </p>
            </div>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>

  <div class="cheklist container d-flex flex-column">
    <h4 class="mt-4 mb-4">Soins à effectuer</h4>
    <% @validated_cares.each_with_index do |validated_care, i| %>
      <%= form_with model: validated_care, method: :put,
      html: {"data-controller":"checklist"},
      class: "input-group-text flex-fill mb-3" do |form| %>
        <%= form.check_box "checkbox#{i}",
        checked: validated_care.done,
        "data-checklist-target": "checkbox",
        "data-action": "click->checklist#checklist",
        class: "form-check-input mt-0"
        %>
        <%= form.label "checkbox#{i}", validated_care.care.name, class: "ms-4 label-checkbox" %>
      <% end %>
    <% end %>
  </div>


  <div class="d-flex justify-content-center mt-4 mb-4">
    <%= button_to "Valider les soins",
    consultation_path(@consultation),
    class: "btn btn-primary",
    params: {consultation: {validated: true}},
    method: :put %>
  </div>
</div>
