<div class="container">

  <div class="show-consultations-profile d-flex flex-row mt-4">
    <img class="ms-2 me-4" src="<%= @consultation.patient.profile_pic%>" alt="">
    <div class="d-flex flex-column">
      <h1>
        <%= @consultation.patient.first_name %>
        <%= @consultation.patient.last_name %>
      </h1>
    <div class="d-flex">
      <p class="me-4">
        <span class="badge <%= @consultation.patient.gender == 'female' ? "bg-primary" : "bg-danger" %>">
          <%= @consultation.patient.gender %>
        </span>
      </p>
      <p class="text-secondary">
        <%= @consultation.patient.birth_date.strftime('%d, %B %Y') %>
      </p>
    </div>

    </div>
  </div>

  <div class="d-grid mt-4 mb-4">
    <%= link_to @google_maps_link, class: "btn btn-primary" do %>
      Se rendre chez <%= @consultation.patient.first_name %></l>
    <% end %>
  </div>



  <div class="accordion mt-4">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <strong>Anamnèse</strong>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
       <% if @consultation.patient.anamneses.present? %>
        <div class="accordion-body">
          <div class="d-flex">
            <p class="me-4">
              <strong>
                  <%= @consultation.patient.anamneses.first.date.strftime('%Y') %>
              </strong>
            </p>
            <p>
            <%= @consultation.patient.anamneses.first.description %>
            </p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="cheklist" data-controller='checklist' data-checklist-consultation-value="<%= @consultation.id%>" >
    <div class="card-body">
      <p class="display-4" data-checklist-target='validated_cares'>There are my checklist</p>
      <% @consultation.patient.patient_cares.each do |patient_care| %>
        <div class="input-group mb-3">
          <div class="input-group-text">
            <input data-action="click->checklist#checklist"
            data-checklist-target="checkbox" <%= patient_care.checked? ? 'checked' : '' %>
            data-validated='<%= @consultation.validated_care_id(patient_care.care) if patient_care.checked? %>'
            class="form-check-input mt-0"
            type="checkbox"
            value="<%= patient_care.care.id %>">
          </div>
            <p><%= patient_care.care.description %></p>
            <p><%= patient_care.care.name %></p>
        </div>
      <% end %>
    </div>
  </div>

</div>
