<div class="container">

  <div class="show-profile d-flex flex-row mt-4 align-items-center">
    <%= image_tag @consultation.patient.picture_url, alt: "Photo de patient", class: "ms-2 me-4" %>
    <div class="d-flex flex-column">
      <h1>
        <%= @consultation.patient.first_name %>
        <%= @consultation.patient.last_name %>
      </h1>
    <div class="d-flex flex-column">
      <p class="text-primary mb-2">
        <i class="fa-solid me-2 fa-cake-candles"></i>
        <%= @consultation.patient.birth_date.strftime("%d/%m/%Y") %>
      </p>
      <p class="me-4">
        <span class="badge <%= @consultation.patient.gender == 'female' ? "bg-primary" : "bg-secondary" %>">
          <%= @consultation.patient.gender== 'male' ? "homme" : "femme"%>
        </span>
      </p>
    </div>
    </div>
  </div>

  <div class="d-grid mt-4 mb-4">
    <%= link_to @google_maps_link, class: "btn btn-primary" do %>
    <i class="fa-solid fa-car me-3"></i>
      Se rendre chez <%= @consultation.patient.first_name %>
    <% end %>
  </div>

  <div class="accordion mt-4">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <strong>Anamnèse</strong>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <% if @consultation.patient.anamneses.present? %>
        <div class="accordion-body">
          <% @consultation.patient.anamneses.each do |anamnesis| %>
            <div class="d-flex">
              <% if anamnesis.date.present? %>
              <p class="me-4">
                <strong>
                    <%= anamnesis.date.strftime('%Y') %>
                </strong>
              </p>
              <% end %>
              <p>
              <%= anamnesis.description %>
              </p>
            </div>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>

  <div class="cheklist d-flex container flex-column">
    <h5 class="mt-4 mb-4 fw-bold">Soins à effectuer</h5>
    <% @validated_cares.each_with_index do |validated_care, i| %>
      <%= simple_form_for validated_care, method: :put,
      html: {"data-controller":"checklist"},
      class: validated_care.done ? "" : "" do |form| %>
        <%= button_tag(type: 'submit', class: validated_care.done ? "d-flex align-items-center mb-3 p-3 w-100 no-border validated-checklist" : "d-flex align-items-center mb-3 p-3 w-100 no-border") do %>
          <% if validated_care.done %>
          <i class="fa-regular fa-square-check me-4"></i>
          <% else %>
          <i class="fa-regular fa-square me-4"></i>
          <% end %>
          <span class="text-start"><%= validated_care.care.name %></span>
        <% end %>
        <%# <%= form.submit validated_care.care.name, %>
        <%# "data-checklist-target": "submit", %>
        <%# "data-action": "click->checklist#checklist", %>
        <%# class: validated_care.done ? "input-group-text flex-fill mb-3 p-3 w-100 validated-checklist" : "input-group-text flex-fill mb-3 p-3 w-100" %>
      <% end %>
    <% end %>
  </div>


  <div class="container">
    <h5 class="mt-4 mb-4 fw-bold">Remarques</h5>
    <% @remarks.each do |remark| %>
      <div class='card mb-2 mt-2'>
        <div class='card-body p-3'>
          <div class="d-flex align-items-center justify-content-between flex-column">
            <div class="d-flex align-items-center w-100">
              <% if remark.tag == 'important' %>
                <i class="fa-solid fa-circle-exclamation text-danger"></i>
              <% elsif remark.tag == 'observation' %>
                <i class="fa-solid fa-eye text-primary"></i>
              <% elsif remark.tag == 'question' %>
                <i class="fa-solid fa-circle-question text-warning"></i>
              <% end %>
              <h4 class="m-0 text-primary fw-light text-primary ms-3">
                <%= remark.title %>
              </h4>
            </div>
              <div class="d-flex flex-column mt-3 w-100">
                <div class="d-flex gap-3 align-items-center text-black-50">
                  <p class="m-0">
                    <%= remark.description %>
                  </p>
                </div>
              </div>
          </div>
        </div>
      </div>
    <% end %>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-primary w-100 mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="fa-solid fa-plus me-2"></i>
      Ajouter une nouvelle remarque
    </button>
  </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nouvelle remarque</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@consultation, @remark] do |f| %>
          <%= f.input :title, label: 'Titre' %>
          <%= f.input :description, label: 'Description' %>
          <%= f.input :tag, as: :select,  collection: Remark.tags.keys %>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <%= f.button :submit, class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <div class="d-flex justify-content-center mt-4 mb-4 button-consultation mt-5">
    <%= button_to "Valider les soins",
    consultation_path(@consultation),
    class: "btn btn-primary btn-lg",
    params: {consultation: {validated: true}},
    method: :put %>
  </div>
</div>
