<h1>Veuillez choisir un patient à ajouter à votre tournée</h1>
<%= form_with model: @tour do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.submit %>
<% end %>










<div class="container">

  <% @tour.consultations.each do |consultation| %>
    <div class="card mb-2 mt-2">
      <div class='card-body p-3'>
        <div class="d-flex align-items-center justify-content-between flex-row">
          <div class="d-flex align-items-center w-100">
            <%= image_tag consultation.patient.picture_url, alt: "Photo de patient", class: "avatar me-4 ms-2 tour-show-img-validated"%>
            <h2 class="m-0 text-primary fw-light">
              <%= consultation.patient.first_name %>
              <%= consultation.patient.last_name %>
            </h2>
          </div>

            <i class="fa-solid fa-check fs-2 text-primary"></i>

        </div>
      </div>
    </div>
  <% end %>
</div>
