<div class="container mt-4">

  <div class="row mb-1">
    <div class="col d-flex align-items-center justify-content-start">
      <% if (Tour.where(id: (@tour.id)-1).present?) %>
        <%= link_to tour_path((@tour.id)-1) do %>
          <button class="btn btn-outline-primary">
          <i class="fa-solid fa-arrow-left me-3"></i>
          <%= Tour.find_by(id: (@tour.id)-1).date.strftime("%d/%m/%Y") %>
          </button>
        <% end %>
      <% end %>
    </div>

    <div class="col d-flex align-items-center justify-content-end">
      <% if (Tour.where(id: (@tour.id)+1).present?) %>
        <%= link_to tour_path((@tour.id)+1) do %>
          <button class="btn btn-outline-primary">
          <%= Tour.find_by(id: (@tour.id)+1).date.strftime("%d/%m/%Y") %>
          <i class="fa-solid fa-arrow-right ms-3"></i>
          </button>
        <% end %>
      <% end %>
    </div>
  </div>

    <div class="mb-3 p-2">
      <div class="col mt-2">
        <div class="d-flex flex-column align-items-center">
          <h1 class="fw-bold fs-1">Ma tournée</h1>
          <p class="fs-6 text-black-50"><%= @tour.date.strftime("%d/%m/%Y") %></p>
          <% if @tour.is_finished? %>
          <div>
            <span>Bravo vous avez terminé votre tournée !</span>
            <span class="fs-2 mb-2">👏</span>
          </div>
            <button class="btn btn-primary mt-3">Voir mon récapitulatif</button>
          <% else %>
          <div>
            <span>Il vous reste <strong><%= @tour.pending_consultations %></strong> patients à soigner</span>
            <span class="fs-2 mb-2">💪</span>
          </div>
          <% end %>
        </div>
      </div>
    </div>

  <div class="row mb-3">
    <div class="d-grid">
      <%= link_to "", class:'btn btn-primary btn-lg px-4', method: :get do %>
        Optimiser ma tournée
      <% end %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col d-grid align-items-center">
      <%= link_to tour_map_path(@tour), class:'btn btn-secondary btn-lg px-4', method: :get do %>
        <i class="fa-regular fa-map"></i>
        <h6>Itinéraire</h6>
      <% end %>
    </div>
    <div class="col d-grid align-items-center">
      <%= link_to tour_map_path(@tour), class:'btn btn-secondary btn-lg px-4', method: :get do %>
        <i class="fa-regular fa-pen-to-square"></i>
        <h6>Editer</h6>
      <% end %>
    </div>
  </div>
  <% @consultations.each do |consultation| %>
    <%= link_to consultation_path(consultation.id), class: "show-tours-card" do %>
      <div class="card mb-4">
        <div class="card-body p-4">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="d-flex align-items-center">
            <img class="avatar tour-show-img me-4" src=<%= consultation.patient.picture_url %>>
              <h2>
                <%= consultation.patient.first_name %>
                <%= consultation.patient.last_name %>
              </h2>
            </div>
            <% if consultation.validated %>
              <i class="fa-solid fa-check text-success fs-2"></i>
            <% end %>
          </div>
          <div class="d-flex flex-column">
          <div class="d-flex gap-3 align-items-center mb-3 text-black-50">
            <i class="fa-sharp fa-solid fa-location-dot"></i>
            <p class="m-0">
              <%= consultation.patient.address %>
            </p>
          </div>
          <div class="d-flex gap-3 align-items-center text-primary">
            <i class="fa-solid fa-cake-candles"></i>
            <p class='m-0'>
              <strong>
                <%= consultation.patient.birth_date.strftime("%d/%m/%Y") %>
              </strong>
            </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
