<div class="container">
  <h1>Ma tournée</h1>
  <p>Tournée du : <%= @tour.date.strftime('%d %B %Y') %></p>

  <div class="d-grid gap-2 mb-4">
    <%= link_to "Commencer la tournée", tour_map_path(@tour), class:'btn btn-primary btn-lg px-4', method: :get %>
  </div>

  <% @consultations.each do |consultation| %>
  <%= link_to consultation_path(consultation.id), class: "show-tours-card" do %>
    <div class="card mb-4">
      <div class="card-header">
        <h2 class="card-title">
          <%= consultation.patient.first_name %>
          <%= consultation.patient.last_name %>
          <%= consultation.position %>
        </h2>
      </div>
      <div class="card-body">
      <div class="d-flex flex-column">
        <p>
          <%= consultation.patient.address %>
        </p>
        <p>
          <strong>
            <%= consultation.patient.birth_date.strftime('%d %B %Y') %>
          </strong>
        </p>
      </div>
      </div>
    </div>
    <% end %>
  <% end %>

  <div class="d-grid gap-2 mb-4">
    <button class="btn btn-primary">Commencer la tournée</button>
  </div>
</div>
